@import "../common-styles";

main {
  .loginPage {
    .loginContainer {

      .loginBtn {

        .spinner {
          width: 25px;
          height: 25px;
          border: 2px solid #ccc;
          border-top-color: #333;
          border-radius: 50%;
          animation: spin 0.6s linear infinite;
        }

        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }

        .hidden {
          display: none;
        }

        &:hover {
          background-color: rgb(169, 223, 216);
          transition: all 0.3s;
        }
      }
    }
  }
}
