@import "../common-styles";

main {
  .loginPage {
    .loginContainer {
      position: relative;
      
      .passwordRequirements {
        position: absolute;
        display: none;
        align-items: start;
        justify-content: center;
        gap: 5px;
        flex-direction: column;
        background-color: #171821;
        top: 15%;
        left: 24%;
        border-radius: 15px;
        width: fit-content;
        height: fit-content;
        padding: 20px;
        transition: all 1s;

        p {
          color: white;
        }
      }

      .passwordInputDiv {
        .passInput:focus-within ~ label .infoIcon {
          display: flex;
          cursor: pointer;
          transition: all 1s;
        }
      }

      .reverseCollumn {
        display: flex;
        flex-flow: column-reverse;
      }

      .infoIconContainer {
        display: flex;
        align-items: center;
        gap: 7px;

        .infoIcon {
          display: none;
          width: 18px;
          height: 18px;
          cursor: none;
        }
        .infoIcon:hover + .passwordRequirements {
          display: flex;
          transition: all 1s;
        }
      }
    }
  }
}
