<main>
  <div class="loginPage">
    <div class="loginContainer">
      <h3>You Must Add Company</h3>

      <div class="steps">
        <div class="circle first" [class.active]="currentPage >= 1">1</div>
        <div class="line line1" [class.active]="currentPage >= 2"></div>
        <div class="circle second" [class.active]="currentPage >= 2">2</div>
        <div class="line line2" [class.active]="currentPage >= 3"></div>
        <div class="circle third" [class.active]="currentPage >= 3">3</div>
      </div>

      <div *ngIf="userMessageArray.length > 0" class="user-message">
        <div *ngFor="let error of userMessageArray" class="littleMessage">
          {{ error }}
        </div>
      </div>

      <div class="pageSteps">
        <div
          class="firstStep"
          [ngClass]="{
            'flex-displayFirst':
              currentPage === 1 && previousPage > currentPage,
            hidden: currentPage !== 1
          }"
        >
          <div class="textInputDiv company-email">
            <label for="companyEmailStep1">Email</label>
            <input
              [(ngModel)]="companyEmail"
              type="email"
              class="emailInp"
              name="companyEmailStep1"
              id="companyEmailStep1"
            />
          </div>

          <div class="textInputDiv company-phone">
            <label for="companyPhoneStep1">Phone</label>
            <input
              [(ngModel)]="companyPhone"
              type="number"
              class="emailInp"
              name="companyPhoneStep1"
              id="companyPhoneStep1"
            />
          </div>

          <div class="textInputDiv company-zip">
            <label for="companyZipCodeStep1">Zip Code</label>
            <input
              [(ngModel)]="companyZipCode"
              type="number"
              class="emailInp"
              name="companyZipCodeStep1"
              id="companyZipCodeStep1"
            />
          </div>

          <div class="textInputDiv company-subdomain">
            <label for="companySubdomainStep1">Subdomain</label>
            <input
              [(ngModel)]="companySubdomain"
              type="text"
              class="emailInp"
              name="companySubdomainStep1"
              id="companySubdomainStep1"
            />
          </div>

          <div class="textInputDiv logo">
            <div class="imageSelDiv">
              <label class="custom-upload-btn" for="companyLogoStep1"
                >Choose File</label
              >
              <input
                [(ngModel)]="companyLogo"
                class="emailInp logoInp"
                type="file"
                name="companyLogoStep1"
                id="companyLogoStep1"
                (change)="onLogoSelected($event)"
              />
            </div>

            <div *ngIf="logoPreviewUrl" class="imgDiv">
              <span class="file-name">
                {{ selectedLogoFileName || "No file chosen" }}
              </span>
              <img [src]="logoPreviewUrl" class="logo-preview" />
              <a (click)="removeImage()" class="imageDelete">X</a>
            </div>

            <label for="companyLogoStep1">Logo</label>
            <input
              disabled
              [(ngModel)]="companyLogo"
              type="email"
              autocomplete="off"
              class="emailInp"
              name="companyLogoDisabledStep1"
              id="companyLogoDisabledStep1"
            />
          </div>

          <div class="countriesSelect">
            <div class="country place">
              <label for="countrySelectStep1">Country</label>
              <select
                class="select emailInp"
                [(ngModel)]="selectedCountry"
                id="countrySelectStep1"
                name="countrySelectStep1"
              >
                <!-- <option disabled selected value="">Select Country</option> -->
                <option
                  *ngFor="let country of countries"
                  [value]="country.id"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>

            <div class="languages place">
              <label for="languageSelectStep1">Languages</label>
              <select
                (change)="addLanguagesToList(selectedLanguage)"
                class="select emailInp"
                [(ngModel)]="selectedLanguage"
                id="languageSelectStep1"
                name="languageSelectStep1"
              >
                <option *ngFor="let language of languages" [ngValue]="language">
                  {{ language.name }}
                </option>
              </select>

              <div class="langDiv">
                <div *ngFor="let language of selectedLanguages" class="SelLang">
                  {{ language.name }}
                  <span (click)="delLang(language)">Remove</span>
                </div>
              </div>
            </div>

            <div class="city place">
              <label for="defaultLanguageSelectStep1">Default Language</label>
              <select
                class="select emailInp"
                [(ngModel)]="selectedDefaultLanguage"
                id="defaultLanguageSelectStep1"
                name="defaultLanguageSelectStep1"
              >
                <option disabled selected>Select Default Language</option>
                <option
                  *ngFor="let languge of selectedLanguages"
                  [value]="languge.id"
                  id="defLangOptionStep1"
                >
                  {{ languge.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div
          class="secondStep"
          [ngClass]="{
            'flex-display': currentPage === 2 && previousPage < currentPage,
            'flex-displaySecond':
              currentPage === 2 && previousPage > currentPage,
            hidden: currentPage !== 2
          }"
        >
          <div *ngIf="selectedLanguages.length > 1" class="descFGorLanguage">
            <div *ngFor="let el of selectedLanguages" [ngClass]="{'defLangStyle': el.id == selectedDefaultLanguage}" (click)="changeInpLang(el.id)" class="forLang">{{el.name}}</div>
          </div>

          <div class="textInputDiv company-name secLangStyle">
            <div *ngIf="+selectedDefaultLanguage === 1" class="defLangInp">
              <label for="companyNameStep2">Name</label>
              <input
                [(ngModel)]="companyName"
                type="text"
                class="emailInp"
                name="companyNameStep2"
                id="companyNameStep2"
                placeholder="Name in English"
              />
            </div>

            <div *ngIf="+selectedDefaultLanguage === 2" class="secLangInp">
              <label for="companyNameStep2Trans">Name</label>
              <input
                [(ngModel)]="companyNameTrans"
                type="text"
                class="emailInp"
                name="companyNameStep2Trans"
                id="companyNameStep2Trans"
                placeholder="Name in Georgian"
              />
            </div>
          </div>

          <div  class="textInputDiv company-state secLangStyle">
            <div *ngIf="+selectedDefaultLanguage === 1" class="defLangInp">
              <label for="companyStateStep2">State</label>
              <input
                [(ngModel)]="companyState"
                type="text"
                class="emailInp"
                name="companyNameStep2"
                id="companyStateStep2"
                placeholder="State in English"
              />
            </div>

            <div *ngIf="+selectedDefaultLanguage === 2" class="secLangInp">
              <label for="companyStateStep2Trans">State</label>
              <input
                [(ngModel)]="companyStateTrans"
                type="text"
                class="emailInp"
                name="companyNameStep2"
                id="companyStateStep2Trans"
                placeholder="State in Georgian"

              />
            </div>
          </div>

          <div class="textInputDiv company-city secLangStyle">
            <div *ngIf="+selectedDefaultLanguage === 1" class="defLangInp">
              <label for="companyCityStep2">City</label>
              <input
                [(ngModel)]="companyCity"
                type="text"
                class="emailInp"
                name="companyNameStep2"
                id="companyCityStep2"
                placeholder="City in English"
              />
            </div>

            <div *ngIf="+selectedDefaultLanguage === 2" class="secLangInp">
              <label for="companyCityStep2Trans">City</label>
              <input
                [(ngModel)]="companyCityTrans"
                type="text"
                class="emailInp"
                name="companyNameStep2"
                id="companyCityStep2Trans"
                placeholder="City in Georgian"
              />
            </div>
          </div>

          <div class="textInputDiv company-address secLangStyle">
            <div *ngIf="+selectedDefaultLanguage === 1" class="defLangInp">
              <label for="companyAddressStep2">Address</label>
              <input
                [(ngModel)]="companyAddress"
                type="text"
                class="emailInp"
                name="companyNameStep2"
                id="companyAddressStep2"
                placeholder="Address in English"
              />
            </div>

            <div *ngIf="+selectedDefaultLanguage === 2" class="secLangInp">
              <label for="companyAddressStep2Trans">Address</label>
              <input
                [(ngModel)]="companyAddressTrans"
                type="text"
                class="emailInp"
                name="companyNameStep2"
                id="companyAddressStep2Trans"
                placeholder="Address in Georgian"

              />
            </div>
          </div>

          <div  class="textInputDiv company-description secLangStyle">
            <div *ngIf="+selectedDefaultLanguage === 1" class="defLangInp">
              <label for="companyDescriptionStep2">Description</label>
              <textarea
                [(ngModel)]="companyDescription"
                type="text"
                class="emailInp Description"
                name="companyDescriptionStep2"
                id="companyDescriptionStep2"
                placeholder="Description in English"
              ></textarea>
            </div>

            <div *ngIf="+selectedDefaultLanguage === 2" class="secLangInp">
              <label for="companyDescriptionStep2trans">Description</label>
              <textarea
                [(ngModel)]="companyDescriptionTrans"
                type="text"
                class="emailInp Description"
                name="companyDescriptionStep2"
                id="companyDescriptionStep2trans"
                placeholder="Description in Georgian"

              ></textarea>
            </div>
          </div>
        </div>

        <div
          class="thirdStep"
          [ngClass]="{
            'flex-display': currentPage === 3 && previousPage < currentPage,
            hidden: currentPage !== 3
          }"
        >
          <div class="textInputDiv company-facebook">
            <label for="companyFacebookStep3">Facebook</label>
            <input
              [(ngModel)]="companyFacebook"
              type="url"
              class="emailInp"
              name="companyFacebookStep3"
              id="companyFacebookStep3"
            />
          </div>

          <div class="textInputDiv company-twitter">
            <label for="companyTwitterStep3">Twitter</label>
            <input
              [(ngModel)]="companyTwitter"
              type="url"
              class="emailInp"
              name="companyTwitterStep3"
              id="companyTwitterStep3"
            />
          </div>

          <div class="textInputDiv company-instagram">
            <label for="companyInstagramStep3">Instagram</label>
            <input
              [(ngModel)]="companyInstagram"
              type="url"
              class="emailInp"
              name="companyInstagramStep3"
              id="companyInstagramStep3"
            />
          </div>

          <div class="textInputDiv company-linkedin">
            <label for="companyLinkedinStep3">LinkedIn</label>
            <input
              [(ngModel)]="companyLinkedIn"
              type="url"
              class="emailInp"
              name="companyLinkedinStep3"
              id="companyLinkedinStep3"
            />
          </div>

          <div class="textInputDiv company-tiktok">
            <label for="companyTiktokStep3">Tiktok</label>
            <input
              [(ngModel)]="companyTiktok"
              type="url"
              class="emailInp"
              name="companyTiktokStep3"
              id="companyTiktokStep3"
            />
          </div>

          <div class="textInputDiv company-latitude">
            <label for="companyLatitudeStep3">Latitude</label>
            <input
              [(ngModel)]="companyLatitude"
              type="number"
              step="any"
              class="emailInp"
              name="companyLatitudeStep3"
              id="companyLatitudeStep3"
            />
          </div>

          <div class="textInputDiv company-longitude">
            <label for="companyLongitudeStep3">Longitude</label>
            <input
              [(ngModel)]="companyLongitude"
              type="number"
              step="any"
              class="emailInp"
              name="companyLongitudeStep3"
              id="companyLongitudeStep3"
            />
          </div>
        </div>
      </div>

      <div class="buttons">
        <button
          [disabled]="!canGoPrevious"
          (click)="Previous()"
          [disabled]="currentPage < 2"
          class="loginBtn prev"
        >
          Previous
        </button>
        <button (click)="next()" class="loginBtn next">Next</button>
      </div>
    </div>
  </div>
</main>
