@import "../common-styles";

main {
  .loginPage {
    min-width: 90% !important;
    .loginContainer {
      .company-logo {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #fff;
        height: fit-content;

        .logoAndChooseFile {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        .logoInp {
          display: none; // დამალე ნამდვილი file input
        }

        .custom-upload-btn {
          background-color: rgb(115, 202, 190);
          color: white;
          padding: 10px 16px;
          border-radius: 8px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 52px;
          transition: all 0.3s;

          &:hover {
            background-color: rgb(169, 223, 216);
            transition: all 0.3s;
          }
        }

        .file-name {
          font-size: 14px;
          color: #ccc;
        }

        .imgDiv {
          display: flex;
          gap: 5px;
          flex-direction: column;
          align-items: center;
          height: fit-content;
          position: relative;
          //   border: 1px solid red;
          .logo-preview {
            max-width: fit-content;
            max-height: 100px;
            border-radius: 8px;
            object-fit: fill;
            transition: all 0.3s;
          }
          .imageDelete {
            opacity: 0;
            color: rgb(115, 202, 190);
            position: absolute;
            top: 23px;
            right: 5px;
            cursor: pointer;
            transition: all 0.3s;
          }

          &:hover .imageDelete {
            opacity: 1;
            cursor: pointer;
            transition: all 0.3s;
          }

          &:hover .logo-preview{
            opacity: 0.5;
            transition: all 0.3s;
          }
        }
      }

      .countriesSelect {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        color: white;
        gap: 5px;

        .select {
          background-color: #1d1e26;
          height: fit-content;
          border-radius: 8px;
          border: none;
          color: white;
          padding: 10px;
          height: 52px;
          border-right: 10px solid #1d1e26;


          &:focus {
            outline: none;
            background-color: #171821;
            border-right: 10px solid #171821;
            transition: all 0.3s;
          }

          &:hover {
            background-color: #171821;
            transition: all 0.3s;
            border-right: 10px solid #171821;
          }
        }

        .place {
          width: 32.9%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          text-align: start;
        }
      }
    }
  }
}
