@import "../common-styles";

main {
  display: flex;
  align-items: center;
  justify-content: center;
  

  .dashboardPage {
    position: relative;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    height: fit-content;
    

    .sidebar {
      width: 110px;
      height: 100vh;
      border-right: 1px solid rgb(44, 45, 51);
      transition: all 0.5s;

      .logo {
        width: 100%;
        height: 100px;
        // background-color: red;
        border-bottom: 1px solid rgb(44, 45, 51);
      }

      .multiTool {
        position: relative;
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        // background-color: blue;
        padding: 20px 0px;
        // border-right: 2px solid rgb(115, 202, 190);

        .sideLine {
          position: absolute;
          right: 0;
          top: 0;
          width: 3px;
          height: 40px;
          background-color: rgb(115, 202, 190);
          margin-top: 10px;
          transition: all 0.3s;
        }

        .multiToolIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          width: 75% !important;
          min-width: fit-content;
          border-radius: 8px;
          // border: 1px solid yellow;
          transition: all 0.3s;
          // box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          // background-color: rgb(128, 128, 128, 0);
          cursor: pointer;
          // border-right: 2px solid red;
          // transition: background-color 0.5s ease-in;

          &:hover {
            // background-color: red;
            // box-shadow: gray;
            transition: all 0.3s;
            background: gray;
          }
        }
      }
    }

    .headder {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;
      border-bottom: 1px solid rgb(44, 45, 51);

      .sidebarButton {
        margin-left: 20px;
      }

      .currentCompany {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        color: white;
        border: 1px solid rgb(44, 45, 51);
        font-size: 16px;
        padding: 5px 25px 5px 15px;
        margin-left: 50px;
        border-radius: 8px;
        cursor: pointer;

        .companyName {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .companyOwner {
          font-size: 14px;
          color: gray;
        }
      }

      .active {
        width: 200px;
        color: red;
        transition: all 0.2s ease-out;

        & .multiTool {
          width: 100%;
          // border: 1px solid red;
          align-items: start;
          transition: all 0.3s;

          .multiToolIcon {
            margin-left: 20px;
            display: flex;
            padding: 5px 15px;
            transition: all 0.3s;
            transition: background-color 0.3s;

            span {
              display: flex !important;
              color: gray;
              // opacity: 1;
              transition: all 0.3s;
              padding-left: 20px;
            }
          }
        }
      }
    }

    .mainContent {
      position: absolute;
      top: 130px;
      left: 130px;
      width: 84%;

      .profile {
        // position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 85.5vh;
        margin-left: auto;
        margin-right: 20px;
      }
    }
  }

  // select:-webkit-autofill,
  // select:-webkit-autofill:focus,
  // select:-webkit-autofill:active {
  //   -webkit-background-clip: text !important;
  //   background-clip: text !important;
  //   -webkit-box-shadow: 0 0 0 1000px $color-bg-input inset !important;
  //   -webkit-text-fill-color: white !important;
  //   transition: background-color 5000s ease-in-out 0s !important;
  //   border-radius: inherit; /* optional: prevent weird autofill corner shape */
  //   -webkit-font-size: 30px !important;
  //   // pointer-events: none;
  //   caret-color: white !important;
  //   background-color: #333 !important;
  //   -webkit-background-color: #333 !important;/* fallback for browsers that don't support -webkit-autofill */
  // }

  // select:-webkit-autofill:hover {
  //   -webkit-box-shadow: 0 0 0 1000px $color-bg-hover inset !important;
  // }

  @media screen and (max-width: 620px) {
    .loginContainer {
      h3 {
        font-size: 20px !important;
      }
      .steps {
        .circle {
          width: 40px !important;
          height: 40px !important;
        }
        .line {
          width: 24% !important;
        }
      }

      .countriesSelect {
        flex-wrap: wrap;
        .place {
          min-width: 100%;
        }
      }
    }
  }

  @keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateX(100%); /* slide from right */
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%); // Start offscreen left
    }
    100% {
      opacity: 1;
      transform: translateX(0%); // End at normal position
    }
  }

  @keyframes slideleft {
    0% {
      opacity: 0;
      transform: translateX(0%); // Start offscreen left
    }
    100% {
      opacity: 1;
      transform: translateX(-100%); // End at normal position
    }
  }
}
