@import "../common-styles";

main {
  .loginPage {
    min-width: 90%;
    // max-width: 700px !important;
    // overflow: hidden;

    .loginContainer {
      overflow: hidden;
      width: 100%;
      height: fit-content;
      .steps {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        height: fit-content;

        .circle {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 2px solid transparent; // start invisible for smooth transition
          font-size: 20px;
          position: relative;
          transition: border-color 0.4s ease;
          border: 2px solid gray;

          &.active {
            border: 2px solid white;
            transition-delay: 0.25s; // wait for line animation
          }
        }

        .first {
          border: 2px solid white;
          transition-delay: 0s;
        }

        .line {
          height: 5px;
          width: 34%;
          border-radius: 10px;
          border: 1px solid gray;
          border-right: none;
          position: relative;
          overflow: hidden;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 0%;
            background: white;
            transition: width 0.5s ease;
            z-index: 1;
            border-radius: 10px;
          }

          &.active::before {
            width: 100%;
          }
        }
      }

      .pageSteps {
        position: relative;
        display: flex;
        width: 300%; /* 3 steps */
        transition: transform 0.3s ease;
        flex-direction: row;
        gap: 20px;
        align-items: start;
        justify-content: center;
        width: fit-content;
        height: 100%;
        min-width: 100%;
        // border: 1px solid red;
        min-height: fit-content;
        transition: height 0.3s;
        .firstStep {
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;
          // border: 1px solid yellow;
          .countriesSelect {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;
            gap: 20px;

            .select {
              background-color: #1d1e26;
              height: fit-content;
              border-radius: 8px;
              border: none;
              color: white;
              padding: 10px;
              height: 52px;
              border-right: 10px solid #1d1e26;
              cursor: pointer;

              &:focus {
                outline: none;
                background-color: #171821;
                border-right: 10px solid #171821;
                transition: all 0.3s;
              }

              &:hover {
                background-color: #171821;
                transition: all 0.3s;
                border-right: 10px solid #171821;
              }
            }

            .place {
              width: 31.7%;
              display: flex;
              flex-direction: column;
              gap: 5px;
              text-align: start;
              // min-width: 250px;
            }

            // .languages, .city{
            //   padding-top: 10px;

            // }

            .languages {
              position: relative;
              .select {
                position: relative;
              }

              .langDiv {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: row;
                gap: 10px;
                top: 24px;
                left: 8px;
                width: fit-content;
                min-width: 10%;
                // color: #171821;
                // max-width: 65%;
                height: 50px;
                border-radius: 8px;
                transition: all 0.3s;
                background-color: transparent;
                padding: 0px 6px;
                // border: 1px solid red;
                // background-color: rgb(115, 202, 190);

                .SelLang {
                  position: relative;
                  display: flex;
                  align-items: center;
                  justify-content: start;
                  padding: 10px;
                  width: 100%;
                  max-width: fit-content;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height: 30px;
                  //   background-color: rgb(115, 202, 190);
                  background-color: #171821;
                  border: 1px solid grey;
                  border-radius: 8px;
                  transition: all 0.3s;

                  span {
                    position: absolute;
                    text-align: center;
                    left: 0;
                    padding-top: 7px !important;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    color: rgb(115, 202, 190);
                    // border: 1px solid red;
                    font-size: 12px;
                  }

                  &:hover span {
                    opacity: 1;
                    transition: all 0.3s;
                    background-color: #1d1e26;

                    cursor: pointer;
                  }

                  &:hover {
                    // background-color: #a9dfd8;
                    transition: all 0.3s;
                    cursor: default;
                  }
                  &:hover {
                    border: 1px solid white;
                    // padding: 18px 25px 18px 17px;
                    transition: all 0.3s;
                  }
                }
              }
            }
          }

          .logo {
            position: relative;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: #fff;
            height: fit-content;

            .logoAndChooseFile {
              display: flex;
              flex-direction: column;
              gap: 5px;
            }

            .logoInp {
              display: none; // დამალე ნამდვილი file input
            }

            .imageSelDiv {
              // border: 1px solid red;
              position: absolute;
              top: 38px;
              left: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: row-reverse;
              width: fit-content;
              gap: 20px;

              .custom-upload-btn {
                // background-color: rgb(115, 202, 190);
                color: white;
                padding: 10px 16px;
                // border-radius: 8px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                height: 32px;
                transition: all 0.3s;
                background-color: #171821;
                border: 1px solid grey;
                border-radius: 8px;
                transition: all 0.3s;

                &:hover {
                  border: 1px solid white;
                  transition: all 0.3s;
                }
              }
            }
            .imgDiv {
              position: absolute;
              bottom: 12px;
              left: 150px;
              display: flex;
              gap: 5px;
              flex-direction: column-reverse;
              align-items: center;
              height: fit-content;
              width: 32%;
              max-width: fit-content;
              // padding: 5px 30px 5px 15px;
              text-align: center;
              padding: 5px;
              border-radius: 8px;
              border: 1px solid gray;
              overflow: hidden;
              height: 28px;
              cursor: default;
              transition: all 0.3s;

              .file-name {
                white-space: nowrap;
                // overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
              }

              .logo-preview {
                // position: absolute;
                max-width: fit-content;
                max-height: 100px;
                border-radius: 8px;
                object-fit: fill;
                transition: all 0.3s;
              }
              .imageDelete {
                opacity: 0;
                color: rgb(115, 202, 190);
                position: absolute;
                top: 6px;
                right: 7px;
                cursor: pointer;
                transition: all 0.3s;
              }

              &:hover {
                border: 1px solid white;
                height: 140px;
                background-color: #1d1e26;
                transition: all 0.3s;
              }

              &:hover .imageDelete {
                opacity: 1;
                cursor: pointer;
                transition: all 0.3s;
              }

              &:hover .logo-preview {
                transition: all 0.3s;
              }
            }

            .file-name {
              font-size: 14px;
              color: #ccc;
            }
          }
        }
        .secondStep {
          // position: absolute;
          display: none;
          gap: 20px;
          flex-direction: column;
          width: 100%;
          height: 100%;
          // border: 1px solid green;

          .defLangStyle {
            border: 2px solid rgb(115, 202, 190) !important;
            font-size: 18px !important;
          }

          .descFGorLanguage {
            width: 100%;
            height: 52px;
            display: flex;
            flex-direction: row;
            gap: 10px;

            .forLang {
              width: 100%;
              min-width: fit-content;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid rgb(115, 202, 190);
              border-radius: 8px;
              color: white;
              cursor: pointer;
            }
          }

          .company-description {
            height: fit-content;

            .Description {
              color: white;
              padding: 10px;
              font-size: 16px;
              height: 104px;
              border: 1 px solid red;
              border: none;
              outline: none;
              background-color: #1d1e26;
              border-radius: 8px;
              transition: all 0.3s;
              resize: none;

              &:hover {
                background-color: #171821;
                transition: all 0.3s;
              }
            }
          }

          .secLangStyle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;

            .defLangInp,
            .secLangInp {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 5px;
            }
          }
        }
        .thirdStep {
          // position: absolute;
          display: none;
          gap: 20px;
          flex-direction: column;
          width: 100%;
          height: 100%;
          // border: 1px solid pink;
        }

        .flex-displayFirst {
          display: flex;
          animation: slideInFromLeft 0.5s;
        }

        .flex-displaySecond {
          display: flex;
          animation: slideInFromLeft 0.5s;
        }

        .flex-display {
          display: flex;
          animation: fadeInSlide 0.5s ease forwards;
        }

        .hidden {
          // animation: slideleft 0.5s;
          transform: translateX(-100%);
          display: none;
        }
      }

      .buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        .loginBtn {
          width: 49% !important;
        }
        .prev {
          border: 1px solid rgb(115, 202, 190);
          color: rgb(115, 202, 190);
          background-color: #171821;
          transition: box-shadow 0.3s ease, border 0.3s ease;

          &:hover {
            box-shadow: 0 0 8px rgba(115, 202, 190, 0.5);
          }
        }
        .greyedout{
          border: 1px solid rgba(115, 202, 190, 0.3);
          color: rgb(115, 202, 190, 0.5);
          background-color: #171821;
          transition: box-shadow 0.3s ease, border 0.3s ease;

          &:hover {
            cursor: default;
            box-shadow: none;

          }
        }
      }
    }
  }
}




@media screen and (max-width: 620px) {
  .loginContainer {
    h3 {
      font-size: 20px !important;
    }
    .steps {
      .circle {
        width: 40px !important;
        height: 40px !important;
      }
      .line {
        width: 24% !important;
      }
    }

    .countriesSelect {
      flex-wrap: wrap;
      .place {
        min-width: 100%;
      }
    }
  }
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateX(100%); /* slide from right */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); // Start offscreen left
  }
  100% {
    opacity: 1;
    transform: translateX(0%); // End at normal position
  }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(0%); // Start offscreen left
  }
  100% {
    opacity: 1;
    transform: translateX(-100%); // End at normal position
  }
}
