@import "../common-styles";

main {
  .loginPage {
    min-width: 90% !important;
    .loginContainer {
      .company-logo {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: #fff;
        height: fit-content;

        .logoAndChooseFile {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }

        .logoInp {
          display: none; // დამალე ნამდვილი file input
        }

        .custom-upload-btn {
          background-color: rgb(115, 202, 190);
          color: white;
          padding: 10px 16px;
          border-radius: 8px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: fit-content;
          height: 52px;
          transition: all 0.3s;

          &:hover {
            background-color: rgb(169, 223, 216);
            transition: all 0.3s;
          }
        }

        .file-name {
          font-size: 14px;
          color: #ccc;
        }

        .imgDiv {
          display: flex;
          gap: 5px;
          flex-direction: column;
          align-items: center;
          height: fit-content;
          position: relative;
          //   border: 1px solid red;
          .logo-preview {
            max-width: fit-content;
            max-height: 100px;
            border-radius: 8px;
            object-fit: fill;
            transition: all 0.3s;
          }
          .imageDelete {
            opacity: 0;
            color: rgb(115, 202, 190);
            position: absolute;
            top: 23px;
            right: 5px;
            cursor: pointer;
            transition: all 0.3s;
          }

          &:hover .imageDelete {
            opacity: 1;
            cursor: pointer;
            transition: all 0.3s;
          }

          &:hover .logo-preview {
            opacity: 0.5;
            transition: all 0.3s;
          }
        }
      }

      .steps {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        height: fit-content;
        .circle {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 1px solid gray;
          // background-color: red;
        }
        .first {
          border: 2px solid white;
        }
        .line {
          height: 5px;
          width: 30%;
          border-radius: 10px;
          border: 1px solid gray;
          border-right: none;
        }
      }

      .countriesSelect {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        gap: 20px;

        .select {
          background-color: #1d1e26;
          height: fit-content;
          border-radius: 8px;
          border: none;
          color: white;
          padding: 10px;
          height: 52px;
          border-right: 10px solid #1d1e26;

          &:focus {
            outline: none;
            background-color: #171821;
            border-right: 10px solid #171821;
            transition: all 0.3s;
          }

          &:hover {
            background-color: #171821;
            transition: all 0.3s;
            border-right: 10px solid #171821;
          }
        }

        .place {
          width: 31.7%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          text-align: start;
          // min-width: 250px;
        }

        // .languages, .city{
        //   padding-top: 10px;

        // }

        .languages {
          position: relative;

          .langDiv {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            top: 24px;
            left: 8px;
            width: fit-content;
            height: 50px;
            border-radius: 8px;
            transition: all 0.3s;
            // background-color: #1d1e26;
            padding: 0px 6px;
            // border: 1px solid red;
            // background-color: rgb(115, 202, 190);

            .SelLang {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: start;
              padding: 18px 28px 18px 17px;
              width: fit-content;
              height: 30px;
              //   background-color: rgb(115, 202, 190);
              background-color: #171821;
              border: 1px solid grey;
              border-radius: 8px;
              transition: all 0.3s;

              span {
                position: absolute;
                opacity: 0;
                right: 8px;
                top: 9px;
                color: rgb(115, 202, 190);
              }

              &:hover span {
                opacity: 1;
                transition: all 0.3s;
                cursor: pointer;
              }

              &:hover {
                // background-color: #a9dfd8;
                transition: all 0.3s;
                cursor: default;
              }
              &:hover {
                border: 1px solid white;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .loginContainer{
    h3 {
    font-size: 20px !important;
  }
  .steps {
    .circle {
      width: 40px !important;
      height: 40px !important;
    }
    .line {
      width: 24% !important;
    }
  }

  .countriesSelect{
    flex-wrap: wrap;
    .place{
      min-width: 100%;
    }
  }
  }
  
}
