@import "../common-styles";

main {
  .loginPage {
    .loginContainer {
      position: relative;

      .textInputDiv {
        .AdressInp:hover,
        .DateOfBirthInp:hover,
        .personalNumberInp:hover {
          background-color: #171821;
          transition: all 0.3s;
        }

        .DateOfBirthInp {
          padding: 10px;
          color-scheme: dark;

          &::-webkit-calendar-picker-indicator {
            filter: brightness(0) saturate(100%) invert(60%) sepia(0%)
              saturate(0%) hue-rotate(180deg);
            opacity: 1;
            cursor: pointer;
          }
        }
      }

      .passwordRequirements {
        position: absolute;
        display: none;
        align-items: start;
        justify-content: center;
        gap: 5px;
        flex-direction: column;
        background-color: #171821;
        top: 24%;
        left: 17%;
        border-radius: 15px;
        width: fit-content;
        height: fit-content;
        padding: 20px;
        transition: all 1s;

        p {
          color: white;
        }
      }

      .passwordInputDiv {
        .passInput:focus-within ~ label .infoIcon {
          display: flex;
          cursor: pointer;
          transition: all 1s;
        }
      }

      .reverseCollumn {
        display: flex;
        flex-flow: column-reverse;
      }

      .countriesSelect {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: white;
        gap: 10px;

        .select {
          background-color: #1d1e26;
          height: fit-content;
          border-radius: 8px;
          border: none;
          color: white;
          padding: 10px;
          height: 52px;

          &:focus {
            outline: none;
            border: none;
            transition: all 0.3s;
          }

          &:hover {
            background-color: #171821;
            transition: all 0.3s;
          }
        }

        .place {
          width: 49%;
          
          display: flex;
          flex-direction: column;
          gap: 5px;
          text-align: start;
        }
      }

      .termsOfService {
        width: 100%;
        text-align: center;
        color: rgb(135, 136, 140);
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        a {
          text-decoration: none;
          color: rgb(169, 223, 216);
        }
      }

      .infoIconContainer {
        display: flex;
        align-items: center;
        gap: 7px;

        .infoIcon {
          display: none;
          width: 18px;
          height: 18px;
          cursor: none;
        }
        .infoIcon:hover + .passwordRequirements {
          display: flex;
          transition: all 1s;
        }
      }
    }
  }
}
