@import "../common-styles";

main {
  .loginPage {
    .loginContainer {
      
      .keepSignedInDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        label {
          display: flex;
          text-align: center;
          color: white;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          position: relative;
          padding-left: 25px;

          input {
            margin-right: 5px;
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          .checkmark {
            position: absolute;
            top: 2px;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #eee;
            border-radius: 4px;
            // border: 1px solid white;
            background-color: #87888c;
          }
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
        }

        span {
          color: rgb(169, 223, 216);
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }

        input:checked ~ .checkmark {
          background-color: rgb(115, 202, 190);
        }
        input:checked ~ .checkmark:after {
          display: block;
        }
        .checkmark:after {
          left: 5px;
          top: 2px;
          width: 4px;
          height: 8px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}
