<main>
  <div class="profineInfo">
    <div class="top">
      <span>Profile</span>
    </div>

    <div class="main">
        <div class="nameSurname">
            <input class="ProfileInp" type="text">
        <input class="ProfileInp" type="text">
        </div>
        
        <input class="ProfileInp" type="text">
        <input class="ProfileInp" type="text">
        <input class="ProfileInp" type="text">
        <input class="ProfileInp" type="text">
        <input class="ProfileInp" type="text">
        <input class="ProfileInp" type="text">
        <input class="ProfileInp" type="text">
        <input class="ProfileInp" type="text">

    </div>
  </div>
</main>
