@import "../../variables.scss";

* {
  border: 1px solid red;
}
main {
  width: 100%;
  height: 85.5vh;

  .profineInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
      width: 100%;
      height: 60px;
      border-bottom: 1px solid lightgray;
      display: flex;
      align-items: center;
      padding-left: 20px;

      span {
        font-size: 20px;
        font-weight: bold;
        color: white;
      }
    }

    .main {
      display: flex;
      gap: 15px;
      flex-direction: column;
      padding: 20px;

      .profileInfo {
        display: flex;
        gap: 15px;
        flex-direction: column;
        padding: 20px;
        .nameSurname {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 10px;
          // flex-wrap: wrap;
          input {
            max-width: 100%;
          }
        }

        input {
          color: white;
          padding-left: 10px;
          font-size: 15px;
          width: 100%;
          background-color: $color-bg-input;
          height: 30px;
          border-radius: $border-radius-sm;
        }
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 10px 20px;
    }
  }
}
}