main {
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  min-height: 100vh;
  background-color: #171821;
  display: flex;
  align-items: center;
  justify-content: center;
  .loginPage {
    width: fit-content;
    height: fit-content;
    border-radius: 13px;
    padding: 34px 30px;
    margin: 15px;
    background-color: #21222d;
    min-width: 100px;
    .loginContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: 100%;

      .user-message {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        transition: all 1s;

        .littleMessage {
          background-color: rgb(115, 202, 190);
          color: white;
          padding: 12px 20px;
          border-radius: 4px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          animation: slideInFromRight 0.6s ease-out forwards;
          transition: all 1s;
        }
      }

      h3 {
        height: 37px;
        color: white;
        font-size: 32px;
        width: 100%;
        text-align: center;
      }

      h6 {
        height: 32px;
        font-size: 20px;
        font-weight: 500;
        color: rgb(135, 136, 140);
        width: 100%;
        text-align: center;
        a {
          text-decoration: none;
          color: rgb(169, 223, 216);
        }
      }

      .textInputDiv {
        display: flex;
        gap: 4px;
        flex-direction: column;
        color: white;
        width: 100%;
        height: 79px;

        label {
          font-weight: 500;
        }
        input[type="number"] {
          // For Chrome, Safari, Edge, Opera
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          // For Firefox
          -moz-appearance: textfield;
        }

        input {
          color: rgb(210, 210, 210);
          font-size: 16px;
          height: 52px;
          background-color: #1d1e26;
          border: none;
          border-radius: 10px;
          padding: 12px 14px;
          transition: all 0.3s;

          &:focus {
            outline: none;
          }
        }

        .emailInp:hover {
          background-color: #171821;
          transition: all 0.3s;
        }
      }

      .passwordInputDiv {
        .passInput {
          display: flex;

          input {
            width: 100%;
            height: 52px;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            transition: all 0.3s;
          }

          button {
            width: 44px;
            height: 52px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border: none;
            outline: none;
            background-color: #1d1e26;
            color: white;
            transition: all 0.3s;
            cursor: pointer;
          }
        }

        .passInput:hover input,
        .passInput:hover button {
          background-color: #171821 !important;
          transition: all 0.3s;
        }

        label {
          font-weight: 500;
        }
      }

      // ------------------------

      .keepSignedInDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        label {
          color: white;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          position: relative;
          padding-left: 25px;

          input {
            margin-right: 5px;
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #eee;
            border-radius: 4px;
            // border: 1px solid white;
            background-color: #87888c;
          }
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
        }

        span {
          color: rgb(169, 223, 216);
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }

        input:checked ~ .checkmark {
          background-color: rgb(115, 202, 190);
        }
        input:checked ~ .checkmark:after {
          display: block;
        }
        .checkmark:after {
          left: 5px;
          top: 2px;
          width: 4px;
          height: 8px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      // ------------------------

      .loginBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(115, 202, 190);
        width: 100%;
        height: 55px;
        border-radius: 6px;
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        transition: all 0.3s;

        &:hover {
          background-color: rgb(169, 223, 216);
          transition: all 0.3s;
        }
      }

      .loginUnderline {
        color: rgb(135, 136, 140);
        width: 100%;
        height: 1px;
        border: 1px solid rgb(44, 45, 51);
      }

      .signInOptions {
        width: 100%;
        text-align: center;
        color: white;
      }

      .googleAndFb {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          width: 267px;
          height: 50px;
          padding: 10px 16px;
          border-radius: 6px;
          border: 1px solid rgba(169, 223, 216, 0.5);
          background-color: rgba(0, 0, 0, 0);
          color: white;
          font-size: 16px;
          color: rgb(169, 223, 216);
          cursor: pointer;

          &:hover {
            background-color: rgba(169, 223, 216, 0.04);
            border: 1px solid rgba(169, 223, 216, 1);
            cursor: pointer;
          }
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1d1e26 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
  transition: background-color 9999s ease-out, color 9999s ease-out !important;
}

select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1d1e26 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s !important;
}



@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .loginContainer {
    gap: 10px !important;
  }
  h3 {
    font-size: 30px !important;
  }

  h6 {
    font-size: 18px !important;
    a {
      text-decoration: none;
      color: rgb(169, 223, 216);
    }
  }
}
