@use "./variables" as *;

main {
  width: 100%;
  min-width: fit-content;
  height: fit-content;
  min-height: 100vh;
  background-color: $color-bg-main;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginPage {
    width: fit-content;
    height: fit-content;
    border-radius: $border-radius-xl;
    padding: 34px 30px;
    margin: 15px;
    background-color: $color-bg-login;
    min-width: 100px;

    .loginContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: start;
      justify-content: center;
      width: 100%;
      height: 100%;

      .user-message {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        transition: $transition-slow;

        .littleMessage {
          background-color: $color-primary;
          color: $color-white;
          padding: 12px 20px;
          border-radius: $border-radius-sm;
          box-shadow: 0 2px 6px $color-shadow;
          animation: slideInFromRight 0.6s ease-out forwards;
          transition: $transition-slow;
        }
      }

      h3 {
        height: 37px;
        color: $color-white;
        font-size: $font-size-h3;
        width: 100%;
        text-align: center;
      }

      h6 {
        height: 32px;
        font-size: $font-size-h6;
        font-weight: 500;
        color: $color-secondary;
        width: 100%;
        text-align: center;

        a {
          text-decoration: none;
          color: $color-primary-light;
        }
      }

      .textInputDiv {
        display: flex;
        gap: 4px;
        flex-direction: column;
        color: $color-white;
        width: 100%;
        height: 79px;

        label {
          font-weight: 500;
        }

        input[type="number"] {
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          -moz-appearance: textfield;
        }

        input {
          color: $color-light-gray;
          font-size: 16px;
          height: $input-height;
          background-color: $color-bg-input;
          border: none;
          border-radius: $border-radius-lg;
          padding: 12px 14px;
          transition: all 0s;
          // transition: all 5000s ease-in-out 0s;

          &:focus {
            outline: none;
            border: none;
          }
        }

        .emailInp:hover {
          background-color: $color-bg-hover;
          transition: $transition-fast;
        }
      }

      .passwordInputDiv {
        .passInput {
          display: flex;

          input {
            width: 100%;
            height: $input-height;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            transition: $transition-fast;
          }

          button {
            width: 44px;
            height: $input-height;
            border-top-right-radius: $border-radius-lg;
            border-bottom-right-radius: $border-radius-lg;
            border: none;
            outline: none;
            background-color: $color-bg-input;
            color: $color-white;
            transition: $transition-fast;
            cursor: pointer;
          }
        }

        .passInput:hover input,
        .passInput:hover button {
          background-color: $color-bg-hover !important;
          transition: $transition-fast;
        }

        label {
          font-weight: 500;
        }
      }

      .keepSignedInDiv {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
          color: $color-white;
          cursor: pointer;
          font-weight: 500;
          font-size: $font-size-link;
          line-height: 24px;
          position: relative;
          padding-left: 25px;

          input {
            margin-right: 5px;
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: $color-checkbox-bg;
            border-radius: 4px;
          }

          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
        }

        span {
          color: $color-primary-light;
          font-size: $font-size-link;
          font-weight: 500;
          cursor: pointer;
        }

        input:checked ~ .checkmark {
          background-color: $color-primary;
        }

        input:checked ~ .checkmark:after {
          display: block;
        }

        .checkmark:after {
          left: 5px;
          top: 2px;
          width: 4px;
          height: 8px;
          border: solid $color-white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }

      .loginBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary;
        width: 100%;
        height: $btn-height;
        border-radius: $border-radius-md;
        padding: 10px 16px;
        border: none;
        cursor: pointer;
        font-size: $font-size-button;
        font-weight: 500;
        transition: $transition-fast;

        .spinner {
          width: 25px;
          height: 25px;
          border: 2px solid #ccc;
          border-top-color: #333;
          border-radius: 50%;
          animation: spin 0.6s linear infinite;
        }

        .hidden {
          display: none;
        }

        &:hover {
          background-color: $color-primary-light;
        }
      }

      .loginUnderline {
        color: $color-secondary;
        width: 100%;
        height: 1px;
        border: 1px solid $color-border;
      }

      .signInOptions {
        width: 100%;
        text-align: center;
        color: $color-white;
      }

      .googleAndFb {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          width: 267px;
          height: 50px;
          padding: 10px 16px;
          border-radius: $border-radius-md;
          border: 1px solid rgba($color-primary-light, 0.5);
          background-color: transparent;
          color: $color-primary-light;
          font-size: $font-size-link;
          cursor: pointer;

          &:hover {
            background-color: rgba($color-primary-light, 0.04);
            border: 1px solid $color-primary-light;
          }
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: all 5000s ease-in-out 0s;
  box-shadow: inset 0 0 10px 1000px $color-bg-input;
}

input:-webkit-autofill:hover {
  box-shadow: inset 0 0 10px 1000px $color-bg-hover;
}

// select:-webkit-autofill,
// select:-webkit-autofill:focus,
// select:-webkit-autofill:active {
//   -webkit-background-clip: text !important;
//   background-clip: text !important;
//   -webkit-box-shadow: 0 0 0 1000px $color-bg-input inset !important;
//   -webkit-text-fill-color: white !important;
//   transition: background-color 5000s ease-in-out 0s !important;
//   border-radius: inherit; /* optional: prevent weird autofill corner shape */
//   -webkit-font-size: 30px !important;
//   // pointer-events: none;
//   caret-color: white !important;
//   background-color: #333 !important;
//   -webkit-background-color: #333 !important;/* fallback for browsers that don't support -webkit-autofill */
// }

// select:-webkit-autofill:hover {
//   -webkit-box-shadow: 0 0 0 1000px $color-bg-hover inset !important;
// }

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: red;
  transition: all 5000s ease-in-out 0s;
  box-shadow: inset 0 0 10px 1000px $color-bg-input;
  background-color: red($color: #000000);
}

select:-webkit-autofill:hover {
  -webkit-background-clip: text;
  box-shadow: inset 0 0 10px 1000px $color-bg-hover;
}


// option:-webkit-autofill,
// option:-webkit-autofill:hover,
// option:-webkit-autofill:focus,
// option:-webkit-autofill:active {
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: #ffffff;
//   transition: all 5000s ease-in-out 0s;
//   box-shadow: inset 0 0 10px 1000px $color-bg-input;
//   background-color: red($color: #000000);
// }

// option:-webkit-autofill:hover {
//   -webkit-background-clip: text;
//   box-shadow: inset 0 0 10px 1000px $color-bg-hover;
// }

/* Animations */
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 500px) {
  .loginContainer {
    gap: 10px !important;
  }

  main {
    min-height: 158vh !important;
  }

  h3 {
    font-size: 27px !important;
  }

  h6 {
    font-size: $font-size-h6-sm !important;

    a {
      text-decoration: none;
      color: $color-primary-light;
    }
  }

  .keepSignedInDiv {
    label,
    span {
      font-size: 13px !important;
    }
  }
}
