@import "../common-styles";

main {
  .loginPage {
    .loginContainer {
      position: relative;
      
      .passwordRequirements {
        position: absolute;
        display: none;
        align-items: start;
        justify-content: center;
        gap: 5px;
        flex-direction: column;
        background-color: #171821;
        top: 34%;
        left: 17%;
        border-radius: 15px;
        width: fit-content;
        height: fit-content;
        padding: 20px;
        transition: all 1s;

        p {
          color: white;
        }
      }

      .passwordInputDiv {
        .passInput:focus-within ~ label .infoIcon {
          display: flex;
          cursor: pointer;
          transition: all 1s;
        }
      }

      .reverseCollumn {
        display: flex;
        flex-flow: column-reverse;
      }

      .keepSignedInDiv {
        label {
          color: white;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;

          input {
            margin-right: 5px;
          }
        }
      }

      .termsOfService {
        width: 100%;
        text-align: center;
        color: rgb(135, 136, 140);
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        a {
          text-decoration: none;
          color: rgb(169, 223, 216);
        }
      }

      .infoIconContainer {
        display: flex;
        align-items: center;
        gap: 7px;

        .infoIcon {
          display: none;
          width: 18px;
          height: 18px;
          cursor: none;
        }
        .infoIcon:hover + .passwordRequirements {
          display: flex;
          transition: all 1s;
        }
      }
    }
  }
}
