@import "../common-styles";

main {
  .loginPage {
    .loginContainer {
      .userTypeSelect {
        cursor: pointer;
        background-color: #1d1e26;
        border: none;
        border-radius: 10px;
        padding: 12px 14px;
        height: 52px;
        color: white;
        font-size: 16px;
        appearance: none;
        transition: all 0.3s;

        option {
          cursor: pointer;
        }

        &:focus {
          outline: none;
          border: none;
          transition: all 0.3s;
        }
      }

      .termsOfService {
        width: 100%;
        text-align: center;
        color: rgb(135, 136, 140);
        font-weight: 500;
        line-height: 24px;
        font-size: 16px;
        a {
          text-decoration: none;
          color: rgb(169, 223, 216);
        }
      }

      .loginBtn {

        .spinner {
          width: 25px;
          height: 25px;
          border: 2px solid #ccc;
          border-top-color: #333;
          border-radius: 50%;
          animation: spin 0.6s linear infinite;
        }

        @keyframes spin {
          to {
            transform: rotate(360deg);
          }
        }

        .hidden {
          display: none;
        }

        &:hover {
          background-color: rgb(169, 223, 216);
          transition: all 0.3s;
        }
      }
    }
  }
}
