*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    caret-color: transparent;
}

input, textarea {
  caret-color: auto; /* restore caret only inside real inputs */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

select:-webkit-autofill:hover,
select:-webkit-autofill:active,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

